<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{controll.datetimepicker.title}">controll.datetimepicker.title</title>
	<meta http-equiv="Pragma" content="no-cache"/>
	<meta http-equiv="Cache-Control" content="no-cache"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" th:href="@{/webjars/font-awesome/css/font-awesome.css}" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker-standalone.css" th:href="@{/webjars/Eonasdan-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" />
	
	<style type="text/css">

	</style>
</head>
<body>


	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#hamburger">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<p class="navbar-text navbar-left"><i class="fa fa-wpforms" aria-hidden="true"></i>&nbsp;<span th:text="#{controll.datetimepicker.title}">controll.datetimepicker.title</span>&nbsp;&nbsp;&nbsp;</p>
			</div>
	
			<div id="hamburger" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="../../menu.html" th:href="@{/menu}" class="navbar-link"><i class="fa fa-sitemap"></i>&nbsp;<span th:text="#{menu.title}">menu</span></a></li>
					<li><a href="../../login.html" th:href="@{/logout}" class="navbar-link"><i class="fa fa-sign-out"></i>&nbsp;<span th:text="#{global.logout}">logout</span></a></li>
				</ul>
			</div>
		</div>
	</nav>


	<div class="container-fluid" style="padding-top: 60px;">
		<div class="row">
			<div class='col-sm-3'>
				<div class="form-group">
					<label th:text="#{controll.datetimepicker.pattern1}">controll.datetimepicker.pattern1&nbsp;:&nbsp;</label>
					<div class='input-group date' id='datetimepicker1'>
						<input type='text' class="form-control" /> 
						<span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
					</div>
				</div>
			</div>
			<div class='col-sm-9'>
				<div class="form-group">
					<label>code(html)&nbsp;:&nbsp;</label>
					<pre id="editor1" class="editor">&lt;div class=&quot;form-group&quot;&gt;
	&lt;label&gt;controll.datetimepicker.pattern1&amp;nbsp;:&amp;nbsp;&lt;/label&gt;
	&lt;div class=&#039;input-group date&#039; id=&#039;datetimepicker1&#039;&gt;
		&lt;input type=&#039;text&#039; class=&quot;form-control&quot; /&gt; 
		&lt;span class=&quot;input-group-addon&quot;&gt;&lt;i class=&quot;fa fa-calendar&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;&lt;/span&gt;
	&lt;/div&gt;
&lt;/div&gt;</pre>
					<label>code(javascript)&nbsp;:&nbsp;</label>
					<pre id="editor2" class="editor">$(&#039;#datetimepicker1&#039;).datetimepicker({
	locale: &#039;ja&#039;,
	dayViewHeaderFormat:&#039;YYYY年 MMMM&#039;,
	format:&#039;YYYY/MM/DD&#039;,
	showTodayButton:true,
	showClear:true,
	showClose:true,
	minDate:&#039;1900/01/01&#039;,
	maxDate:&#039;9999/12/31&#039;
});</pre>
				</div>
			</div>
		</div>

		<hr/>

		<div class="row">
			<div class='col-sm-3'>
				<div class="form-group">
					<label th:text="#{controll.datetimepicker.pattern2}">controll.datetimepicker.pattern2&nbsp;:&nbsp;</label>
					<div class='input-group date' id='datetimepicker2'>
						<input type='text' class="form-control" />
						<span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
					</div>
				</div>
			</div>
			<div class='col-sm-9'>
				<div class="form-group">
					<label>code(html)&nbsp;:&nbsp;</label>
					<pre id="editor3" class="editor">&lt;div class=&quot;form-group&quot;&gt;
	&lt;label&gt;controll.datetimepicker.pattern2&amp;nbsp;:&amp;nbsp;&lt;/label&gt;
	&lt;div class=&#039;input-group date&#039; id=&#039;datetimepicker2&#039;&gt;
		&lt;input type=&#039;text&#039; class=&quot;form-control&quot; /&gt;
		&lt;span class=&quot;input-group-addon&quot;&gt;&lt;i class=&quot;fa fa-clock-o&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;&lt;/span&gt;
	&lt;/div&gt;
&lt;/div&gt;</pre>
					<label>code(javascript)&nbsp;:&nbsp;</label>
					<pre id="editor4" class="editor">$(&#039;#datetimepicker2&#039;).datetimepicker({
	locale: &#039;ja&#039;,
	format:&#039;HH:mm&#039;,
	showClear:false,
	showClose:true
});</pre>
				</div>
			</div>
		</div>

		<hr/>


		<div class="row">
			<div class='col-sm-3'>
				<div class="form-group">
					<label th:text="#{controll.datetimepicker.pattern3}">controll.datetimepicker.pattern3&nbsp;:&nbsp;</label>
					<div class='input-group date' id='datetimepicker3'>
						<input type='text' class="form-control" />
						<span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
					</div>
				</div>
			</div>
			<div class='col-sm-9'>
				<div class="form-group">
					<label>code(html)&nbsp;:&nbsp;</label>
					<pre id="editor5" class="editor">&lt;div class=&quot;form-group&quot;&gt;
	&lt;label&gt;controll.datetimepicker.pattern3&amp;nbsp;:&amp;nbsp;&lt;/label&gt;
	&lt;div class=&#039;input-group date&#039; id=&#039;datetimepicker3&#039;&gt;
		&lt;input type=&#039;text&#039; class=&quot;form-control&quot; /&gt;
		&lt;span class=&quot;input-group-addon&quot;&gt;&lt;i class=&quot;fa fa-calendar&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;&lt;/span&gt;
	&lt;/div&gt;
&lt;/div&gt;</pre>
					<label>code(javascript)&nbsp;:&nbsp;</label>
					<pre id="editor6" class="editor">$(&#039;#datetimepicker3&#039;).datetimepicker({
	locale: &#039;ja&#039;,
	dayViewHeaderFormat:&#039;YYYY年 MMMM&#039;,
	format:&#039;YYYY/MM/DD HH:MM&#039;,
	showTodayButton:true,
	showClear:true,
	showClose:true,
	minDate:&#039;1900/01/01&#039;,
	maxDate:&#039;9999/12/31&#039;
});</pre>
				</div>
			</div>
		</div>
	</div>

	<!--[if lt IE 9]><!-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js" th:src="@{/static/javascript/jquery-1.9.1.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js" th:src="@{/webjars/respond.js/dest/respond.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" th:src="@{/webjars/html5shiv/html5shiv.min.js}"></script>
<!--<![endif]-->
<!--[if gte IE 9]><!-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<!--<![endif]-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js" th:src="@{/webjars/momentjs/min/moment.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/locale/ja.js" th:src="@{/webjars/momentjs/locale/ja.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js" th:src="@{/webjars/Eonasdan-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.4/theme-cobalt.js" th:src="@{/webjars/ace/src-noconflict/theme-cobalt.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.4/ace.js" th:src="@{/webjars/ace/src-noconflict/ace.js}"></script>
	
	<script type="text/javascript">
	


		$(function () {
<!--/* 
				bootstrap-datetimepicker
				
				依存ライブラリ：
				・jQuery 2 (3 は動きません)
				・moment.js （bootstrap-datetimepicker.js よりも先に記述してください。）
*/-->
			$('#datetimepicker1').datetimepicker({
				locale: 'ja',
				dayViewHeaderFormat:'YYYY年 MMMM',<!--/*書式指定（カレンダー）*/-->
				format:'YYYY/MM/DD',<!--/*書式指定（入力）*/-->
				showTodayButton:true,
				showClear:true,
				showClose:true,
				minDate:'1900/01/01',<!--/*最小日付*/-->
				maxDate:'9999/12/31'<!--/*最大日付*/-->
			});


			$('#datetimepicker2').datetimepicker({
				locale: 'ja',
				format:'HH:mm',
				showClear:false,
				showClose:true
			});
			
			$('#datetimepicker3').datetimepicker({
				locale: 'ja',
				dayViewHeaderFormat:'YYYY年 MMMM',<!--/*書式指定（カレンダー）*/-->
				format:'YYYY/MM/DD HH:mm',<!--/*書式指定（入力）*/-->
				showTodayButton:true,
				showClear:true,
				showClose:true,
				minDate:'1900/01/01',<!--/*最小日付*/-->
				maxDate:'9999/12/31'<!--/*最大日付*/-->
			});

			

			
			var editor1 = ace.edit("editor1");
			editor1.setOptions({
				maxLines: Infinity
			});
			editor1.setReadOnly(true); 
			editor1.setTheme("ace/theme/git");
			editor1.getSession().setMode("ace/mode/html");

			var editor2 = ace.edit("editor2");
			editor2.setOptions({
				maxLines: Infinity
			});
			editor2.setReadOnly(true); 
			editor2.setTheme("ace/theme/git");
			editor2.getSession().setMode("ace/mode/javascript");
			
			var editor3 = ace.edit("editor3");
			editor3.setOptions({
				maxLines: Infinity
			});
			editor3.setReadOnly(true); 
			editor3.setTheme("ace/theme/git");
			editor3.getSession().setMode("ace/mode/html");

			var editor4 = ace.edit("editor4");
			editor4.setOptions({
				maxLines: Infinity
			});
			editor4.setReadOnly(true); 
			editor4.setTheme("ace/theme/git");
			editor4.getSession().setMode("ace/mode/javascript");
			
			
			var editor5 = ace.edit("editor5");
			editor5.setOptions({
				maxLines: Infinity
			});
			editor5.setReadOnly(true); 
			editor5.setTheme("ace/theme/git");
			editor5.getSession().setMode("ace/mode/html");

			var editor6 = ace.edit("editor6");
			editor6.setOptions({
				maxLines: Infinity
			});
			editor6.setReadOnly(true); 
			editor6.setTheme("ace/theme/git");
			editor6.getSession().setMode("ace/mode/javascript");

		});

	</script>
</body>
</html>