<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{controll.modal.title}">controll.modal.title</title>
	<meta http-equiv="Pragma" content="no-cache"/>
	<meta http-equiv="Cache-Control" content="no-cache"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/css/bootstrap.css}" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/lumen/bootstrap.min.css" th:href="@{/webjars/bootswatch/lumen/bootstrap.min.css}" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" th:href="@{/webjars/font-awesome/css/font-awesome.css}" rel="stylesheet" />
	<link th:href="@{/webjars/sticky-footer/dist/css/sticky-footer.css}" rel="stylesheet" />
	<link href="../../../static/css/bootstrap.overwrite.css" th:href="@{/static/css/bootstrap.overwrite.css}" rel="stylesheet" />
	<link href="../../../static/css/sticky-footer.overwrite.css" th:href="@{/static/css/sticky-footer.overwrite.css}" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.6/css/bootstrap-dialog.min.css" th:href="@{/webjars/bootstrap-dialog/dist/css/bootstrap-dialog.min.css}" rel="stylesheet" />
	
	<style type="text/css">

	</style>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#hamburger">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<p class="navbar-text navbar-left"><i class="fa fa-wpforms" aria-hidden="true"></i>&nbsp;<span th:text="#{controll.modal.title}">controll.modal.title</span>&nbsp;&nbsp;&nbsp;</p>
			</div>
	
			<div id="hamburger" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="../../menu.html" th:href="@{/menu}" class="navbar-link"><i class="fa fa-sitemap"></i>&nbsp;<span th:text="#{menu.title}">menu</span></a></li>
					<li><a href="../../login.html" th:href="@{/logout}" class="navbar-link"><i class="fa fa-sign-out"></i>&nbsp;<span th:text="#{global.logout}">logout</span></a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid" style="padding-top: 60px;">
		<div class="form-inline">
			<div class="form-group">
				<label>goods&nbsp;&ensp;&ensp;&nbsp;&nbsp;&nbsp;:&nbsp;</label>
				<div class="form-group">
					<input id="goods.code" name="goods.code" class="form-control" type="text" value="" maxlength="10"/>
				</div>
				<input id="goods.name" name="goods.name" class="form-control" readonly="readonly" type="text" value=""/>
				<button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-search" aria-hidden="true"></i>&#160;<span th:text="#{global.btn.goods.choice}">goods choice...</span></button>
			</div>

		</div>
		
	</div>

	<!--/* Modal 自体の内容（サブミットは出来ないタイプです。） */-->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static"> <!--/* data-backdrop="static" は modal ウィンドウ以外でクリックした場合に非表示しない設定です。*/-->
		<div class="modal-dialog" style="width:700px;" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myModalLabel"><i class="glyphicon glyphicon-search" aria-hidden="true"></i>&#160;<span th:text="#{global.btn.goods.choice}">goods choice...</span></h4>
				</div>
				<div class="modal-body" style="height:300px;padding:10px;">
					<iframe id ="goodsIframe" name ="goodsIframe" src="../../iframe/goods.html" th:src="@{/iframe/goods}" style="border:0px; margin:0px; width:97%; height:100%; overflow-y: hidden;" scrolling="no"></iframe>
				</div>
				<div class="modal-footer ">
					<button type="button" class="btn btn-primary pull-left" th:text="#{global.btn.choice}" id="btnChoice">choice</button> <!--/* data-dismiss="modal" を付けていません、ボタン押下後も自身でモーダル非表示処理を入れています。 */-->
					<button type="button" class="btn btn-warning pull-left" data-dismiss="modal" th:text="#{global.btn.cancel}">cancel</button>
				</div>
			</div>
		</div>
	</div>

	<footer class="footer" style="padding-right:16px;">
		<div class="container pull-left">
			
			
			
		</div>
	</footer>

<!--[if lt IE 9]><!-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js" th:src="@{/static/javascript/jquery-1.9.1.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js" th:src="@{/webjars/respond.js/dest/respond.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" th:src="@{/webjars/html5shiv/html5shiv.min.js}"></script>
<!--<![endif]-->
<!--[if gte IE 9]><!-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<!--<![endif]-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js" th:src="@{/webjars/bootbox/bootbox.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.6/js/bootstrap-dialog.min.js" th:src="@{/webjars/bootstrap-dialog/dist/js/bootstrap-dialog.min.js}"></script>
	
	<script type="text/javascript">
	/*<![CDATA[*/
		// ダイアログの選択ボタンのイベントを実装
		$('#btnChoice').on('click', function() {
			// 子(iframe)から選択されている値を取得。
			var idx = $('#goodsIframe').contents().find('input[name=choice]:checked').val();
			if (idx != undefined) {
	
				// 選択された行のコードと名称を取得(iframe 側)。
				var code = $('#goodsIframe').contents().find('input[id="code' + idx + '"]').val()
				var name = $('#goodsIframe').contents().find('input[id="name' + idx + '"]').val()
	
				// 呼び出し元のコントロールにそれぞれ設定(呼び出し元)。
				$('input[id="goods.code"]').val(code);
				$('input[id="goods.name"]').val(name);
	
				$('#myModal').modal('hide'); // モーダル非表示。
			} else {
				// 何も選択されていない場合、選択してくださいの確認メッセージを表示する。
				BootstrapDialog.show({
					type: BootstrapDialog.TYPE_WARNING
					,title: '<i class="glyphicon glyphicon-search" aria-hidden="true"></i>&#160;[[#{global.btn.goods.choice}]]'
					,message: '[[#{global.choice.confirm.message}]]'
					,buttons: [{
						label: '[[#{global.btn.confirm}]]'
						,cssClass: 'btn-primary'
						,action: function(dialog) {
							dialog.close();
						}
					}]
				});  
				return;
			}
		});
		/*]]>*/
	</script>
</body>
</html>