<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>サンプル：マスタ:User</title>
	<meta http-equiv="Pragma" content="no-cache"/>
	<meta http-equiv="Cache-Control" content="no-cache"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" th:href="@{/webjars/font-awesome/css/font-awesome.css}" rel="stylesheet" />
	<link th:href="@{/webjars/sticky-footer/dist/css/sticky-footer.css}" rel="stylesheet" />
	<style type="text/css">

	</style>
</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#hamburger">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<p class="navbar-text navbar-left"><i class="fa fa-wpforms" aria-hidden="true"></i>&nbsp;サンプル：マスタ:User&nbsp;&nbsp;&nbsp;</p>
			</div>
	
			<div id="hamburger" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="../../menu.html" th:href="@{/menu}" class="navbar-link"><i class="fa fa-sitemap"></i>&nbsp;メニュー</a></li>
					<li><a href="../../login.html" th:href="@{/logout}" class="navbar-link"><i class="fa fa-sign-out"></i>&nbsp;ログアウト</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid" style="padding-top: 60px;">
		<form role="form" action="/sample/master/user" th:action="@{/sample/master/user}" th:object="${sampleMasterUserForm}" method="post">
		
			<div class="form-inline row" style="padding: 0 15px;">
				<div class="form-group">
					<label class="control-label" for="loginUserId"><abbr title="required"></abbr> ユーザＩＤ</label>
					<input type="text" class="form-control" id="loginUserId" name="loginUserId" th:field="*{loginUserId}" />
					<span th:if="${#fields.hasErrors('loginUserId')}" th:errors="*{loginUserId}" class="help-block">error!</span>
					<input type="hidden" id="loginUserIdPost" name="loginUserIdPost" th:field="*{loginUserIdPost}" />
				</div>
	
				<div class="form-group pull-right">
					<button type="submit" id="inquiryBtn" name="doInquiry" class="btn btn-primary" ><i class="glyphicon glyphicon-search" aria-hidden="true"></i>&nbsp;照会</button>
				</div>
			</div>
			<hr/>
			<div style="width:100%;">
				<div class="table-responsive">
 					<table class="table table-bordered table-condensed table-hover">
 					<thead>
						<tr class="bg-primary">
							<th class="col-xs-1 col-ms-1 col-md-1 col-lg-1">ログインID</th>
							<th class="col-xs-1 col-ms-1 col-md-1 col-lg-1">パスワード</th>
						</tr>
					</thead>
					<tbody>
						<span th:each="entity, status : ${sampleMasterUserForm.list}">
						<tr>
							<td>
								<input type="text" class="form-control" th:field="*{list[__${status.index}__].loginUserId}" th:value="${entity.loginUserId}" />
							</td>
							<td>
								<input type="text" class="form-control" th:field="*{list[__${status.index}__].password}"  th:value="${entity.password}" />
							</td>
						</tr>
						</span>
					</tbody>
					</table>
				</div>
			</div>
	
	
		</form>
	</div>

	<footer class="footer" style="padding-right:16px;">
		<div class="row">
			<div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
				
			</div>
		</div>
	</footer>

<!--[if lt IE 9]><!-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js" th:src="@{/static/javascript/jquery-1.9.1.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js" th:src="@{/webjars/respond.js/dest/respond.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" th:src="@{/webjars/html5shiv/html5shiv.min.js}"></script>
<!--<![endif]-->
<!--[if gte IE 9]><!-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<!--<![endif]-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>