<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	th:with="lang=${#locale.language}"
	th:lang="${lang}">

<head>
	<title th:text="#{master.user.title}">master.user.title</title>
	<meta http-equiv="Pragma" content="no-cache"/>
	<meta http-equiv="Cache-Control" content="no-cache"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/css/bootstrap.css}" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/lumen/bootstrap.min.css" th:href="@{/webjars/bootswatch/lumen/bootstrap.min.css}" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" th:href="@{/webjars/font-awesome/css/font-awesome.css}" rel="stylesheet" />
	<link th:href="@{/webjars/sticky-footer/dist/css/sticky-footer.css}" rel="stylesheet" />
	<link href="../../../static/css/bootstrap.overwrite.css" th:href="@{/static/css/bootstrap.overwrite.css}" rel="stylesheet" />
	<link href="../../../static/css/sticky-footer.overwrite.css" th:href="@{/static/css/sticky-footer.overwrite.css}" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.6/css/bootstrap-dialog.min.css" th:href="@{/webjars/bootstrap-dialog/dist/css/bootstrap-dialog.min.css}" rel="stylesheet" />
	<style type="text/css">
		.alt-table-responsive {
			width: 100%;
			overflow-y: hidden;
			overflow-x: auto;
			-ms-overflow-style: -ms-autohiding-scrollbar;
			-webkit-overflow-scrolling: touch;
		}
		
		
		<!--/* table css */-->
		@media only screen and (max-width: 800px) {

			/* Force table to not be like tables anymore */
			#no-more-tables table, 
			#no-more-tables thead, 
			#no-more-tables tbody, 
			#no-more-tables th, 
			#no-more-tables td, 
			#no-more-tables tr { 
				display: block; 
			}
		 	#no-more-tables caption{
		 		display: table-row;
		 	} 
		 
			/* Hide table headers (but not display: none;, for accessibility) */
			#no-more-tables thead tr { 
				position: absolute;
				top: -9999px;
				left: -9999px;
			}
		 
			#no-more-tables tr { border: 1px solid #ccc; }
		 
			#no-more-tables td { 
				/* Behave  like a "row" */
				border: none;
				border-bottom: 1px solid #eee; 
				position: relative;
				padding-left: 50%; 
				white-space: normal;
				text-align:left;
			}
		 
			#no-more-tables td:before { 
				/* Now like a table header */
				position: absolute;
				/* Top/left values mimic padding */
				top: 6px;
				left: 6px;
				width: 45%; 
				padding-right: 10px; 
				white-space: nowrap;
				text-align:left;
				font-weight: bold;
			}
			/*
			Label the data
			*/
			#no-more-tables td:before { content: attr(data-title); }
		}
	</style>
</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#hamburger">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<p class="navbar-text navbar-left"><i class="fa fa-wpforms" aria-hidden="true"></i>&nbsp;<span th:text="#{master.user.title}">master.user.title</span>&nbsp;&nbsp;&nbsp;</p>
			</div>
	
			<div id="hamburger" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="../../menu.html" th:href="@{/menu}" class="navbar-link"><i class="fa fa-sitemap"></i>&nbsp;<span th:text="#{menu.title}">menu</span></a></li>
					<li><a href="../../login.html" th:href="@{/logout}" class="navbar-link"><i class="fa fa-sign-out"></i>&nbsp;<span th:text="#{global.logout}">logout</span></a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid" style="padding-top: 60px;">
		<form role="form" action="/sample/master/user" th:action="@{/sample/master/user}" th:object="${sampleMasterUserForm}" method="post">
			<div class="form-inline row" style="padding: 0 15px;">
				<div class="form-group">
					<label class="control-label" for="loginUserId"><abbr title="required"></abbr><span th:text="#{master.user.loginid}">master.user.loginid</span>&nbsp;:&nbsp;</label>
					<input type="text" class="form-control" id="loginUserId" name="loginUserId" th:field="*{loginUserId}" />
					<input type="hidden" id="loginUserIdPost" name="loginUserIdPost" th:field="*{loginUserIdPost}" />
				</div>
	
				<div class="form-group pull-right">
					<button type="button" id="inquiryBtn" class="btn btn-primary"><i class="glyphicon glyphicon-search" aria-hidden="true"></i>&nbsp;<span th:text="#{global.btn.retrieve}">global.btn.retrieve</span></button>
				</div>
			</div>

			<div th:unless="${info_message == null}" class="alert alert-info fade in" style="margin-bottom: 10px;">
				<a href="#" class="close" data-dismiss="alert">&times;</a>
				<strong th:text="${info_message}">info_message</strong>
			</div>

			<div th:unless="${warning_message == null}" class="alert alert-warning fade in" style="margin-bottom: 10px;">
				<a href="#" class="close" data-dismiss="alert">&times;</a>
				<strong th:text="${warning_message}">warning_message</strong>
			</div>

			<div th:if="${#fields.hasErrors('all')}" class="alert alert-danger">
				<p th:text="#{jp.template.global.error.input.message}">jp.template.global.error.input.message</p>
			</div>

			<div id="no-more-tables">
				<table class="col-md-12 table-bordered table-striped table-condensed cf">
					<caption th:text="#{master.user.list.caption}">master.user.list.caption</caption>
					<thead class="cf">
						<tr>
							<th style="width:50px;">No</th>
							<th th:text="#{master.user.list.loginid}">master.user.list.loginid</th>
							<th th:text="#{master.user.list.password}">master.user.list.passward</th>
							<th th:text="#{master.user.list.repassword}">master.user.list.repassword</th>
							<th style="width:50px;"><i class="fa fa-cogs" aria-hidden="true"></i></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="entity, status : ${sampleMasterUserForm.list}">
							<td data-title="No" th:text="${status.count}">1</td>
							<td th:data-title="#{master.user.list.loginid}" data-title="loginid"
								th:classappend="${#fields.hasErrors('*{list[__${status.index}__].loginUserId}')}? 'has-error has-feedback'">
								<input type="hidden" th:field="*{list[__${status.index}__].id}" th:if="${entity.id != 0}" th:value="${entity.id}" value="123456789"/>
								<input type="text" class="form-control" th:field="*{list[__${status.index}__].loginUserId}" th:value="${entity.loginUserId}" th:readonly="${entity.id != 0}" value="admin"/>
								<span th:if="${#fields.hasErrors('*{list[__${status.index}__].loginUserId}')}" class="text-danger" th:errors="*{list[__${status.index}__].loginUserId}">Error</span>
							</td>
							<td th:data-title="#{master.user.list.password}" data-title="password"
								th:classappend="${#fields.hasErrors('*{list[__${status.index}__].password}')}? 'has-error has-feedback'">
								<input type="text" class="form-control" th:field="*{list[__${status.index}__].password}" th:value="${entity.password}" th:readonly="${entity.id != 0}" value="admin"/>
								<span th:if="${#fields.hasErrors('*{list[__${status.index}__].password}')}" class="text-danger" th:errors="*{list[__${status.index}__].password}">Error</span>
							</td>
							<td th:data-title="#{master.user.list.repassword}" data-title="repassword"
								th:classappend="${#fields.hasErrors('*{list[__${status.index}__].rePassword}')}? 'has-error has-feedback'">
								<input th:if="${entity.id != 0}" type="text" class="form-control" th:field="*{list[__${status.index}__].rePassword}" th:value="${entity.rePassword}"/>
								<input type="hidden" th:field="*{list[__${status.index}__].rePassword}" th:if="${entity.id == 0}"/>
								<span th:if="${#fields.hasErrors('*{list[__${status.index}__].rePassword}')}" class="text-danger" th:errors="*{list[__${status.index}__].rePassword}">Error</span>
							</td>
							<td th:data-title="#{master.user.list.operation}" data-title="operation">
								<button th:if="${entity.id != 0}" type="button" class="btn btn-danger btn-xs deleteBtn" th:onclick="'deleteConfirmRow(' + ${status.count} + ');'"><i class="fa fa-times" aria-hidden="true"></i> ...</button>
								<button th:if="${entity.id == 0}" type="button" class="btn btn-warning btn-xs deleteBtn" th:onclick="'deleteRow(' + ${status.count} + ');'"><i class="fa fa-times" aria-hidden="true"></i></button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<button type="submit" id='inquiryDummy' name="doInquiry" style="visibility:hidden;" ></button>
			<button type="submit" id='addDummy' name="doAdd" style="visibility:hidden;" ></button>
			<button type="submit" id='deleteDummy' name="doDelete" style="visibility:hidden;" ></button>
			<button type="submit" id='saveDummy' name="doSave" style="visibility:hidden;" ></button>
			<input type="hidden" id="selectRow" name="selectRow" value="0"/>
		</form>
	</div>

	<footer class="footer" style="padding-right:16px;">
		<div class="container pull-left">
			<button type="button" id="addBtn" class="btn btn-primary"><i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;<span th:text="#{global.btn.add}">global.btn.add</span></button>
			<button type="button" id="saveBtn" class="btn btn-primary" th:disabled="${sampleMasterUserForm.list == null or sampleMasterUserForm.list.isEmpty()}"><i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i>&nbsp;<span th:text="#{global.btn.save}">global.btn.save</span></button>
		</div>
	</footer>

<!--[if lt IE 9]><!-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js" th:src="@{/static/javascript/jquery-1.9.1.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js" th:src="@{/webjars/respond.js/dest/respond.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" th:src="@{/webjars/html5shiv/html5shiv.min.js}"></script>
<!--<![endif]-->
<!--[if gte IE 9]><!-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<!--<![endif]-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.6/js/bootstrap-dialog.min.js" th:src="@{/webjars/bootstrap-dialog/dist/js/bootstrap-dialog.min.js}"></script>

	<script type="text/javascript">
		$(document).ready(function() {

			<!--/* 照会ボタンのハンドリング。  */-->
			$('#inquiryBtn').click(function(e) {
				$('#inquiryDummy').click();
			});

			<!--/* 追加ボタンのハンドリング。  */-->
			$('#addBtn').click(function(e) {
				$('#addDummy').click();
			});

			<!--/* 保存ボタンのハンドリング。  */-->
			$('#saveBtn').click(function(e) {
				$('#saveDummy').click();
			});
		});
		<!--/* 削除処理。  */-->
		function deleteConfirmRow(row) {
			<!--/*  削除確認ダイアログ。 */-->
			BootstrapDialog.confirm({
				title: '[[#{global.confirm.delete.title}]]',
				message: '[[#{global.confirm.delete.message}]]',
				type: BootstrapDialog.TYPE_WARNING,
				closable: true,
				draggable: true, 
				btnCancelLabel: '[[#{global.btn.cancel}]]', // Cancel ボタンは色変えれない。
				btnOKLabel: '[[#{global.btn.delete}]]',
				btnOKClass: 'btn-danger', 
				callback: function(result) {
					if(result) {
						$('#selectRow').val(row);
						$('#deleteDummy').click();
					}
				}
			});
		}
		function deleteRow(row) {
			$('#selectRow').val(row);
			$('#deleteDummy').click();
		}

	</script>
</body>
</html>